name: schedule

on:
  schedule:
    - cron: "2 17 * * *"

jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
      - name: Echo hello
        run: echo "Hi, this is from a schedule"